<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css"
    />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Post</title>
  </head>
  <body>
    <main>
      <div class="authOptions">
        <h1>View Post</h1>
        <a role="button" href="/posts">Home</a>
      </div>
      <div>
        <p>
          <div class="individualPost">
      <div class="individualPost">
  <h3><%= post.title %></h3>
     <p>Link: <a href="<%= post.link %>"><%= post.link %></a></p>
  <p>Description:<%= post.description %></p>
  <p>Date Created: <%= new Date(post.timestamp).toDateString() %> </p>
  <p> Created by: <%= post.creator.uname %></p>
<div>
  <% if (user && post.creator && user.id === post.creator.id) { %>
     <form action="/posts/edit/<%= post.id %>" method="GET">
      <button>Edit</button>
    </form>
    <form action="/posts/deleteconfirm/<%= post.id %>" method="GET">
      <button> Delete</button>
    
      <!-- <button type="submit" onclick="return confirm('Are you sure you want to delete?')">DELETE</button> -->
    </form>
  <% } %>
</div>

        </div>
        </p>
        <p>Implement this page yourself. It is from individualPost.ejs</p>
      </div>
    </main>
  </body>
</html>
